body {
    background-color: rgb(35, 36, 51);
    color: white;
    font-family: 'Courier', Courier, monospace;
}

h1,
h2,
h3,
h4, 
h5 {
    font-size: 30px;
}

h6 {
    font-size: 20px;
}

p {
    font-size: 15px;
}

.green-text {
    color: rgb(51, 186, 150);
}